.container{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

body{
    background:black;
}

circle{
  fill:none;
  stroke:yellowgreen;
  stroke-width:5;
}

svg{
  animation: rotate 1.3s infinite;
}

@keyframes rotate {
  from{}
    to{
      transform: rotate(360deg)
    }
}
