body{
  background-color: lightblue;
  text-align: center;
}

.wrapper{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  border:1px solid black;
  padding:20px;
}

img{
  transform: translateX(200px);
  transform: translateY(200px);
  transform: translate(0, 0);
}

img{
  transform: scaleX(2);
  transform: scaleY(0.5);
  transform: scale(1,1);
}

/* minus degree is anti-clockwise  */
/* transform does not add up */
img{
  transform: rotateZ(-90deg) translateY(200px)
}
